* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

div {
  padding: 100px;
}
h1 {
  font-size: 32px;
  margin-left: 180px;
}
button {
  background-color: lightseagreen;
  font-weight: 700;
  font-size: 25px;
  padding: 13px 26px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}
button:active {
  scale: 0.95;
}
